<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <link href="{{url_for('static',filename='Estilos.css')}}" rel="stylesheet" type="text/css">
    <title>Registro</title>
</head>
<body style="background-color: #2733A0;">
    <img src="{{url_for('static',filename='Registro.jpg')}}" style="float:right;">
    <div id="Registro">
    <h1>Crea una cuenta</h1>
    <form id="formR">
    <input type="text"  id ="Nombre" size="46" maxlength="200"  placeholder="Nombre" class="Nombre" >&emsp;&emsp;
    <input type="text" id ="Apellido"  size="46" maxlength="200"  placeholder="Apellido" class="Apellido" ><p></p>
    <input type="text" id ="Usuario" size="105" maxlength="200" placeholder="Usuario"  class="UsuarioN" ><p></p>
    <input type="password" id ="Contraseña" size="46" maxlength="200" placeholder="Contraseña"  class="Nombre" >&emsp;&emsp;
    <input type="password" id ="ConfContra" size="46" maxlength="200" placeholder="Confirmar Contraseña"  class="Apellido" ><p></p>
    <a class="Registrar"  onclick="Registrar()">Registrar Usuario</a><p></p>
    </form><hr>
    <a class="IniciarSesion" onclick="Iniciar()" >Si tiene cuenta creada, inicie sesión</a>
    </div>
    

    <script>
        var direccion="http://localhost:3000" //Aqui esta la direccion para cambiarla a Heroku de backend
		var direccionW="http://localhost:5000" //Aqui es la direccion del Frontend
        function Registrar(){
            var nombre=document.querySelector('#Nombre').value
            var apellido=document.querySelector('#Apellido').value
            var usuario=document.querySelector('#Usuario').value
            var contraseña=document.querySelector('#Contraseña').value
            var confircontraseña=document.querySelector('#ConfContra').value
            if(contraseña!=confircontraseña){
                alert('La contraseña no es igual')
            }
            else{
                var datos={
                'nombre':nombre,
                'apellido':apellido,
                'usuario':usuario,
                'contraseña':contraseña,
                'tipo':'Cliente'
                }
                console.log(datos)
                fetch(direccion+'/Registrar/',{
                    method:'POST',
                    body:JSON.stringify(datos),
                    headers:{
                    'Content-type':'application/json'
                    }
                })
                .then(respuesta=>respuesta.json())
                .catch(err=>{
                    console.log("Error")
                })
                .then(resp=>{
                    if(resp.mensaje=="Correcto"){
                        alert("Usuario registrado corrrectamente")
                        location.href=direccionW+"/Login"
                    }
                    else{
                        alert("Este usuario ya existe")
                    }
                })

            }
            }
            function Iniciar(){
                location.href=direccionW+"/Login";
            }
            
     

           
        </script>

</body>

</html>