<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    
    <link href="{{url_for('static',filename='Estilos.css')}}" rel="stylesheet" >
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>
<body style="background-color: #EB3C33;">
    <img src="{{url_for('static',filename='paginaprincipal.jpg')}}" style="float:right;">
    <div id="Iniciar">
    <h1>Bienvenido</h1>
    <form id="form1">
    <input type="text" id="User" name="Usuario" size="100" maxlength="200" placeholder="Usuario" class="Usuario" >
    <p></p>
    <input type="password" id="Contraseña" name="Contraseña" size="100" maxlength="200" placeholder="Contraseña" class="Contraseña" >
    <p></p>
    <a class="botonInicio" onclick="Iniciar()">Iniciar Sesión</a>
    </form>
    <p></p>
    
    <hr>
    &emsp;&emsp;&emsp;<a class="recuperarContraseña" href="">¿Olvidaste tu contraseña?</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <a class="crearCuenta" onclick="Registrar()">¿No tienes cuenta? Crea una cuenta</a>
</div>
<div id="mostrar"></div>


<script>

        var direccion="http://localhost:3000" //Aqui esta la direccion para cambiarla a Heroku de backend
		var direccionW="http://localhost:5000/" //Aqui es la direccion del Frontend    
    function Iniciar(){
        var usuario=document.querySelector('#User').value
        var contraseña=document.querySelector('#Contraseña').value
        var datos={
            'usuario':usuario,
            'contraseña':contraseña
        }
        console.log(datos)
        fetch(direccion+'/IniciarSesion/',{
            method:'POST',
            body: JSON.stringify(datos),
            headers: {
            'Content-type':'application/json'
            }
        }).then(respuesta=>respuesta.json())
        .catch(error=>{
            alert('Ocurrio un error')
        })
        .then(resp=>{
            if(resp.mensaje=="Error"){
                alert("Error de Autenticación ")
            }
            else{
                alert(`Bienvenido ${usuario}`)
                sessionStorage.setItem("usuario",usuario)
                var a="admin";
                if(usuario==a){
                    location.href=direccionW+"Admin"
                }
                if(usuario!="admin"){
                    location.href=direccionW+"Cliente"
                }
            }
        })
        
    }

    function Registrar(){
        location.href=direccionW+"Registro"
    }
        
</script>
</body>

</html>